<!-- we can use html elements <p>Hello Angular</p> -->
<!-- We can not use this <a href="demo.html">Link</a> -->
<!-- <button color="accent" mat-raised-button>Hello</button>
<mat-card>First test Card</mat-card> -->
<!-- <mat-toolbar style="color: rgb(253, 253, 253); background-color: rgb(89, 241, 241);">
</mat-toolbar> -->
<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row>
    <span>Sujan Angular first App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example settings icon">settings</mat-icon>
    </button>
    <button mat-icon-button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
      <mat-nav-list style="width: 250px;">
        <!-- give link to connect components-->
        <a mat-list-item routerLink='one' style="height: 60px ;"><mat-icon style="margin: 20px;">dashboard</mat-icon>Dashboard</a>
        <a mat-list-item routerLink='student' style="height: 60px ;"><mat-icon style="margin: 20px;">group</mat-icon>Student</a>
        <a mat-list-item routerLink='staffdetails' style="height: 60px ;"><mat-icon style="margin: 20px;">account_box</mat-icon>Staff details</a>
        <a mat-list-item routerLink='attendance' style="height: 60px ;"><mat-icon style="margin: 20px;">assessment</mat-icon>Attendance</a>
        <a mat-list-item routerLink='contact' style="height: 60px ;"><mat-icon style="margin: 20px;">contact_mail</mat-icon>Contact Us</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height: 100vh;">
        <!-- Here set contents...-->
        <router-outlet></router-outlet>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
