<p style="margin-top: 20px; font-size: 30px; text-align: center;">This is the Staff Details Component</p>
<hr>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sujan Murugesh</mat-card-title>
          <mat-card-subtitle>Undergraduate</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/sujan1-icon.png" alt="Photo of a Sujan">
        <mat-card-content>
          <p>
            I am a self-motivated, smart working, dedicated person. I will successfully complete
    the task assigned to me as a team member or individually in a timely manner as
    appropriate to the occasion. I am an excellent team player and possess a positive
    attitude towards individual goals and an organizational goal. 
    development.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>



  